div.wp-block-media-text{
  display: grid;
}

figure > img {
  width:100% !important;
  filter: drop-shadow(0 3px 3px rgba(0, 24, 33, 0.7));
}

@media (max-width: 600px) {
  .wp-block-media-text.is-stacked-on-mobile {
    -ms-grid-columns: 100% !important;
    grid-template-columns: 100% !important;
  }
}
