.Section{
  background-color: lightgray;
  padding-bottom: 16px;
  .keyWords{
    color: #00BCD1;
  }
  .Title{
    margin-top: 0.35em;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    //font-size: 48px;
    //line-height: 62px;
    color: #B2D2D6;
  }
  .SubTitle{
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    //font-size: 48px;
    //line-height: 62px;
    color: #000000;
  }
}

.maxHeight{
  min-height: calc(100vh - 3 * 56px + 1px);
}
