.AboutSection{
  min-height: calc(100vh - 456px);
  .Content{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    @media(max-width:600px){
      font-size: medium;
    }
  }
}
