.PlusContent{
  //opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  //transition: 0.5s; /*Скорость перехода состояния элемента*/
  //animation: show 0.5s 1; /* Указываем название анимации, её время и количество повторов*/
  //animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  //animation-delay: 0s; /* Задержка перед началом */
}

@keyframes show{
  0%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.Content{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
}



.Link{
  display: flex;
  width: 100%;
  &:hover{
  text-decoration: none;
}
}
