.ActiveLink{
  color:black !important;
}

.Brand{
  &:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
  }
  color: rgba(0,0,0,.5);
  font-weight: bold;
  padding: 8px;
  display: flex;
  align-items: center;
}

.Link{
  &:hover{
    text-decoration: none;
    color: #00BCD1 !important;
  }
  color: rgba(0,0,0,.6) !important;
  font-weight: bold;
  padding: 8px;
  display: block;
  //@media(min-width: 1200px){
  //  font-size: 0.8vw;
  //}
}

.Header{
  //height:74px;
  text-align: center;
}
