.Card{
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.87) !important;
  width: 100%;
}

.Text{
  //overflow: hidden;
  //text-overflow: ellipsis;
  //display: -webkit-box;
  //-webkit-line-clamp: 2; /* number of lines to show */
  //-webkit-box-orient: vertical;
}

//.Title{
//  @media (min-width: 600px ){
//    height: 64px;
//  }
//}

//.Subtitle{
//  @media (min-width: 600px ){
//    height: 40px;
//  }
//}
