.Slider {
  max-height: 400px;
  background: black;
}
.Slider .Image {
  height: 400px;
  object-fit: cover;
  width: 100%;
  opacity: 0.7;
}
.Slider .Caption {
  top: 135px;
}

/*# sourceMappingURL=slider.module.css.map */
